@use "../../public/styles/mixin" as *;
@use "../../public/styles/variable" as *;

.div_container {
  height: 100%;
  @include flex($direction: column);
}

@each $size in (25, 46, 60, 110) {
  .div_gap_#{$size} {
    height: rem($size);
  }
}

.div_join {
  @include flex();
}

.sign_footer {
  text-align: center;
  font-size: 16px;
  color: $color-lightgray;
}
