@use "../../../public/styles/mixin" as *;
@use "../../../public/styles/variable" as *;

.item_container {
  border-radius: 10px;
  transition: all 0.3s;
  &:has(+ &:hover) {
    .inner_container {
      @include border-bottom($color: transparent);
    }
  }
  &:hover {
    background: rgba($color: #fff, $alpha: 0.1);
    .inner_container {
      @include border-bottom($color: transparent);
    }
  }
  .inner_container {
    padding: 20px;
    @include flex($justify: space-between, $align: center, $gap: 8px);
    @include border-bottom;
    transition: border-bottom 0.3s;
    .container_leftside {
      @include flex($gap: 20px, $align: center);
      .album_img {
        border-radius: 10px;
        object-fit: cover;
      }

      .desc_container {
        @include flex($direction: column, $gap: 8px, $align: flex-start);
        .title {
          font-size: rem(20);
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .artist {
          font-size: rem(14);
          color: #bcbcbc;
        }
      }
    }
  }

  // playlist_mode style
  &.playlist_mode {
    border-radius: 0;
  }

  &:hover {
    border-radius: 0;
  }

  &.selected {
    background-color: $color-o-w1;
  }

  &.currently_playing {
    background-color: $color-o-w3;
  }

  .inner_container {
    padding: 18px 14px;
    @include border-bottom($color: $color-o-w2);

    .container_leftside {
      min-width: 0;

      .index_or_play_btn {
        width: 40px;
        min-width: 40px;
        margin-right: 12px;
        @include flex;
        color: $color-o-w7;
      }

      .album_img_wrapper {
        width: 68px;
        height: 68px;
        border-radius: 10px;
        overflow: hidden;
        flex-shrink: 0;

        .album_img {
          width: 100%;
          height: 100%;
          transform: scale(1.35);
        }
      }

      .desc_container {
        min-width: 0;

        .title {
          font-size: rem(20);
        }

        .artist {
          font-size: rem(16);
        }
      }
    }
  }
}
