@use "../../../public/styles/variable" as *;
@use "../../../public/styles/mixin" as *;

.thumbnail_item_container {
  cursor: pointer;
  @include flex($direction: column, $align: flex-start, $gap: 10px);
  padding: 22px 16px;
  border-radius: 10px;
  transition: background-color 0.3s ease;

  &:hover,
  &.selected {
    background-color: $color-o-w1;
  }

  .thumbnail_img_container {
    border-radius: 10px;
    overflow: hidden;

    .video_thumbnail_img {
      object-fit: cover;
      width: 240px;
      height: 134px;
      transition: transform 0.3s ease;
    }

    &:hover .video_thumbnail_img {
      transform: scale(1.05);
    }

    .thumbnail_img {
      transition: filter 0.3s ease;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .video_player {
      width: 260px;
      height: 146px;
      @include flex;
    }
  }
  .desc_container {
    width: 100%;
    position: relative;
    @include flex(
      $direction: column,
      $justify: flex-start,
      $align: flex-start,
      $gap: 6px
    );
    .title {
      max-width: 230px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: rem(16);
      margin-bottom: 5px;
    }
    .artist_container {
      @include flex($gap: 6px);
      .certified {
        @include icon(
          $width: 14px,
          $height: 14px,
          $url: "/assets/icons/is-certified.svg",
          $size: cover
        );
      }
      .artist {
        font-size: rem(14);
      }
    }
    .add_playlist_btn {
      position: absolute;
      right: 0;
      bottom: -8px;
    }
  }
}

.video_item_container {
  cursor: default;
  @extend .thumbnail_item_container;

  .video_player {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.playlist_item_container {
  cursor: default;
  @extend .thumbnail_item_container;
  .thumbnail_img_container {
    position: relative;
    transition: filter 0.3s ease;
    &:hover {
      .thumbnail_img {
        filter: brightness(0.4);
      }
    }
  }
  .desc_container {
    .title {
      font-size: rem(16);
      font-weight: $font-semibold;
    }
  }
  .desc_container *:not(.title) {
    display: none;
  }
  .delete_btn_container {
    @include position($top: 22px, $left: auto, $transform: none);
    right: 22px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:hover {
    .delete_btn_container {
      opacity: 1;
    }
  }
}
