@use "../../../public/styles/variable" as *;
@use "../../../public/styles/mixin" as *;

.thumbnail_item_container {
  cursor: pointer;
  @include flex($direction: column, $align: flex-start, $gap: 10px);
  padding: 40px 32px;
  border-radius: 15px;
  transition: background-color 0.3s ease;

  &:hover,
  &.selected {
    background-color: $color-o-w1;
  }

  // 썸네일 이미지 컨테이너
  .thumbnail_img_container {
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    height: 400px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    position: relative;

    .thumbnail_img {
      object-fit: cover;
      width: 134%;
      height: 134%;
      transition: transform 0.3s ease;
    }
  }

  // 설명 컨테이너
  .desc_container {
    width: 100%;
    position: relative;
    @include flex(
      $direction: column,
      $justify: flex-start,
      $align: flex-start,
      $gap: 6px
    );
    .title {
      max-width: 350px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: rem(20);
      margin-bottom: 5px;
    }
    .artist_container {
      @include flex($gap: 6px);
      .certified {
        @include icon(
          $width: 16px,
          $height: 16px,
          $url: "/assets/icons/is-certified.svg",
          $size: cover
        );
      }
      .artist {
        font-size: rem(16);
      }
    }
    .add_playlist_btn {
      position: absolute;
      right: 0;
      bottom: -8px;
      opacity: 0.5;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// 비디오 아이템 컨테이너
.video_item_container {
  cursor: default;
  @extend .thumbnail_item_container;

  .video_player {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

// 플레이리스트 아이템 컨테이너
.playlist_item_container {
  cursor: default;
  @extend .thumbnail_item_container;
  .thumbnail_img_container {
    position: relative;
    transition: filter 0.3s ease;
    &:hover {
      .thumbnail_img {
        filter: brightness(0.4);
      }
    }
  }
  .desc_container {
    .title {
      font-size: rem(16);
      font-weight: $font-semibold;
    }
  }
  .desc_container *:not(.title) {
    display: none;
  }
  .delete_btn_container {
    @include position($top: 22px, $left: auto, $transform: none);
    right: 22px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:hover {
    .delete_btn_container {
      opacity: 1;
    }
  }
}

.thumbnail_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include flex;
}

.video_thumbnail_img {
  object-fit: cover !important;
  width: 134% !important;
  height: 134% !important;
  max-width: none !important;
  max-height: none !important;
  @include position;
}

.hidden_player {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  overflow: hidden;
  left: -9999px;
}
