@use "../../../public/styles/mixin" as *;
@use "../../../public/styles/variable" as *;

/* RoundBtn */
.round_btn {
  position: relative;
  border-radius: 50px;
  font-weight: $font-regular;

  &:hover {
    @include hover-filter();
  }

  /* RoundBtn 사이즈 */
  // 로그인
  &_lg {
    padding: 20px 188px;
    font-size: rem(18);
  }

  // 플레이리스트 만들기, GO BACK HOME →
  &_md {
    padding: 17px 22px;
    font-size: rem(16);
  }

  // 네, 삭제할게요
  &_sm {
    padding: 13px 24px;
    font-size: rem(14);
  }

  // 인증(활성화, 비활성화화)
  &_xs {
    padding: 5px 15px;
    font-size: rem(14);
    border-radius: 10px;
  }

  /* RoundBtn 스타일 */
  // 로그인, 네, 삭제할게요., 플레이리스트 만들기
  &.accent {
    background: $color-accent;
    color: $color-white;
  }

  // GO BACK HOME →
  &.gray {
    background: rgba(217, 217, 217, 0.3);
    color: $color-white;
  }

  // 인증(활성화)
  &.enabled {
    background: $color-o-w3;
    color: $color-white;

    &:hover {
      filter: none;
    }
  }

  // 인증(비활성화)
  &.disabled {
    background: $color-o-w3;
    color: $color-o-w5;
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
      filter: none;
    }
  }
}

/* ProfileImgBtn */
.profileImgBtn {
  position: relative;
  padding: 88px;
  border-radius: 50%;
  background: #87879f;
  display: flex;

  &:before {
    @include before(40px, 40px, "/assets/icons/profile.svg", 40px 40px);
    @include position();
  }

  /* 이미지가 제공된 경우 */
  &.profileImgBtn_withImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      content: none;
    }
  }
}

/* IconBtn */
.icon_btn {
  background: {
    repeat: no-repeat;
    position: center;
  }

  /* IconBtn 사이즈 */
  // plug(big)
  &_xl {
    width: 48px;
    height: 48px;
    background-size: 36px;
  }

  // close
  &_lg {
    width: 40px;
    height: 40px;
    background-size: 28px;
  }

  // plug(small)
  &_md {
    width: 36px;
    height: 36px;
    background-size: 26px;
  }

  // add, minus
  &_sm {
    width: 32px;
    height: 32px;
    background-size: 24px;
  }

  // eye, eye-close, edit
  &_xs {
    width: 24px;
    height: 24px;
    background-size: 18px;
  }

  &_xxs {
    width: 20px;
    height: 20px;
    background-size: 12px;
  }

  // 플러그 이미지 일 때만 호버 기능 추가
  &_plug {
    background-image: url("/assets/icons/plug.svg");

    &:hover {
      background-image: url("/assets/icons/plug-fill.svg");
      transition: background ease-in 0.3s;
    }
  }
}

.verify {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
