@use "../../../public/styles/mixin" as *;
@use "../../../public/styles/variable" as *;

/* 공통 스타일 */
.icon-btn {
  display: inline-block;
  cursor: pointer;
}

/* 개별 아이콘 스타일 */
.plug {
  @include icon(36px, 36px, "/assets/icons/plug.svg", 36px 36px);
  @extend .icon-btn;

  &:hover {
    transition: background 0.3s ease-in;
    background: url(/assets/icons/plug-fill.svg);
  }
}

.plug_small {
  @include icon(25px, 25px, "/assets/icons/plug.svg", 25px 25px);
  @extend .icon-btn;

  &:hover {
    transition: background 0.3s ease-in;
    background: url(/assets/icons/plug-fill.svg);
    background-size: 25px 25px;
  }
}

.add {
  @include icon(24px, 24px, "/assets/icons/add.svg", 24px 24px);
  @extend .icon-btn;
}

.minus {
  @include icon(24px, 24px, "/assets/icons/minus.svg", 24px 24px);
  @extend .icon-btn;
}

.eye_open {
  @include icon(18px, 13.5px, "/assets/icons/eye.svg", 18px 13.5px);
  @extend .icon-btn;
}

.eye_close {
  @include icon(17px, 16px, "/assets/icons/eye-close.svg", 17px 16px);
  @extend .icon-btn;
}

.edit {
  @include icon(14px, 14px, "/assets/icons/edit.svg", 14px 14px);
  @extend .icon-btn;
}
