@use "../../../public/styles/mixin" as *;
@use "../../../public/styles/variable" as *;

.profileImgBtn {
  position: relative;
  padding: 88px 88px;
  border-radius: 50%;
  background: #87879f;
  border: none;

  &:before {
    @include before(40px, 40px, "/assets/icons/profile.svg", 40px 40px);

    @include position();
  }
}
