@use "../../../public/styles/variable" as *;

.title_container {
  text-align: center;

  .title {
    font-size: rem(68);
    margin-bottom: 36px;
  }

  .description {
    font-size: rem(18);
    white-space: pre-line;
    line-height: 1.5;
  }

  &.small {
    .title {
      font-size: rem(60);
      margin-bottom: 16px;
    }

    .description {
      font-size: rem(16);
      margin-bottom: 16px;
    }
  }
}
