@use "../../public/styles/mixin" as *;
@use "../../public/styles/variable" as *;

.section_container {
  height: 100%;
  @include flex($direction: column, $gap: 85px);
}

.reco_section {
  width: 100%;
  margin-top: 40px;
}

.reco_header {
  text-align: center;
  margin-bottom: 20px;
}

.go_login_text {
  display: block;
  text-align: center;
  margin: 40px auto;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.reco_list_container {
  width: 100%;
}
