@use "./../../../public/styles/mixin.scss" as *;
@use "./../../../public/styles/variable.scss" as *;

.search_field {
  width: 100%;
  max-width: 1150px;
  border-radius: 50px;
  background-color: $color-o-w3;
  @include flex;
  gap: 30px;

  &.default {
    padding: 20px 46px;
    margin-bottom: 20px;

    .search_input {
      font-size: rem(22);

      &::placeholder {
        font-size: rem(20);
      }
    }
  }

  &.small {
    max-width: 548px;
    padding: 16px 24px 16px 36px;
  }

  .search_input {
    flex: 1;

    &::placeholder {
      color: $color-o-w7;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  &.animated {
    opacity: 0;
    transform: translateY(20px);
    animation: slideDown 0.8s ease-out 0.6s forwards;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
